<%- include("partials/head", {titulo: "Home"}); %>

<%- include("partials/header", {titulo: "¡Bienvenido/a a nuestro home!"}); %>

<h2>Conocé sobre nuestros cursos:</h2>
<h3>HTML</h3>
<p>El Lenguaje de Marcado de Hipertexto (HTML) es el código que se utiliza para estructurar y desplegar una página web y sus contenidos. Por ejemplo, sus contenidos podrían ser párrafos, una lista con viñetas, o imágenes y tablas de datos.</p>
<h3>CSS</h3>
<p>CSS son las siglas en inglés para «hojas de estilo en cascada» (Cascading Style Sheets). Básicamente, es un lenguaje que maneja el diseño y presentación de las páginas web, es decir, cómo lucen cuando un usuario las visita. Funciona junto con el lenguaje HTML que se encarga del contenido básico de las páginas.</p>
<h3>Javascript</h3>
<p>JavaScript es el lenguaje de programación que debes usar para añadir características interactivas a tu sitio web, (por ejemplo, juegos, eventos que ocurren cuando los botones son presionados o los datos son introducidos en los formularios, efectos de estilo dinámicos, animación, y mucho más)</p>
<img src="/img/programacion.png" alt="imagen de lenguajes">

<%- include("partials/footer", {titulo: "Seguinos en nuestras redes:"}); %>


