<%- include("partials/head", {titulo: "Nosotros"}); %>

<%- include("partials/header", {titulo: "Nosotros"}); %>

<h2>Backendigards:</h2>
<p>Somos 9 estudiantes de Backend junto con nuestro profesor Gabriel Muñoz:</p>
<h3>Gabriel Muñoz Profesor:</h3>
<img src="/IMG/GabrielMuñoz.png" alt="Gabriel Muñoz">
<h3>Camila Aguirre</h3>
<img src="/IMG/CamilaAguirre.png" alt="Camila Aguirre">
<h3>Carolina Beer</h3>
<img src="/IMG/CarolinaBeer.png" alt="Carolina Beer">
<h3>Ezequiel Rodríguez</h3>
<img src="/IMG/EzequielRodriguez.png" alt="Ezequiel Rodriguez">
<h3>Galo Rodríguez</h3>
<img src="/IMG/GaloRodriguez.png" alt="Galo Rodriguez">
<h3>Gonzalo Cataldo</h3>
<img src="/IMG/GonzaloCataldo.png" alt="Gonzalo Cataldo">
<h3>Kevin Aviles</h3>
<img src="/IMG/KevinAviles.png" alt="Kevin Aviles">
<h3>Maximiliano Portel</h3>
<img src="/IMG/MaximilianoPortel.png" alt="Maximiliano Portel">
<h3>Natali Lescano</h3>
<img src="/IMG/NataliLescano.png" alt="Natali Lescano">
<h3>Victoria González</h3>
<img src="/IMG/VictoriaGonzalez.png" alt="Victoria Gonzalez">

<form>
<h3>¿Querés dejarnos un mensaje?</h3>
<textarea></textarea>
<input type="submit" value="enviar">
</form>

<%- include("partials/footer", {titulo: "Seguinos en nuestras redes:"}); %>