<footer>
    <h3>
        <%= mensaje %> 
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, natus, dolorum saepe alias nisi beatae recusandae mollitia voluptatibus sint voluptatem perferendis. Velit exercitationem vel consectetur excepturi quisquam blanditiis perspiciatis, aliquam, a distinctio accusantium possimus pariatur quidem molestias? Repellendus, minima ab repudiandae assumenda commodi, eveniet voluptatem provident qui officia molestiae doloribus.
    </p>
    <li>
        opcion1
    </li>
    <li>
        opcion2
    </li>
</footer>