<%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <main>
      <h2>Bienvenido a "Sucursales Arbusta"! Tenemos el auto indicado para vos.</h2>
      <h3>Nuestras sucursales:</h3>
      <% sucurs.forEach(sucursal => { %>
                <h3><%= sucursal.sucursal %> </h3>
    <% }) %>
    <br>
    <h3><a href="/sucursales">Hace click acá para ver en detalle nuestras sucursales!</a></h3>
    <h3><a href="/marcas">o Acá si queres ver nuestras marcas!</a></h3>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>