<%- include('partials/head'); %>
<title><%=titulo%></title>
<body>
<%- include('partials/header', {titulo: "Bienvenid@ a Katech"}); %>
<main>
    <div>
        <h2>Bienvenid@ a Katech</h2>
        <p>Acá vas a encontrar todo lo que necesitas para armar tu computadora desde componentes hasta perifericos de todas las marcas!</p>
    </div>
</main>
<%- include("partials/footer", {titulo: "Nuestras Redes"}); %>
</body>
</html>