<%- include('partials/head'); %>
<title><%=titulo%></title>
<body>
<%- include('partials/header', {titulo: "Bienvenid@ a Katech"}); %>
<main>
    <div>
        <h2>Nosotros</h2>
        <p>Somos una tienda de hardware situada en Lanús que busca ofrecer los mejores productos de informatica al precio más bajo. Somos un equipo completo y contamos con tecnicos especializados para realizar cualquier tipo de reparación o mantenimiento.</p>
    </div>
</main>
<%- include("partials/footer", {titulo: "Nuestras Redes"}); %>
</body>
</html>