<header>
    <div class="contenedorHeader">

        <a class="elementoListaHeader" href="/">Home</a>


        <a class="elementoListaHeader" href="/sucursales">Sucursales</a>


        <a class="elementoListaHeader" href="/marcas">Marcas</a>

        <a class="elementoListaHeader" href="/autos">Autos</a>

    </div>
</header>