<%- include('partials/head')  %> 
<body>
  
  <%- include('partials/header')  %> 
  <h1>Nuestas Marcas</h1>
  <% marcas.forEach(element => { %>
    <div style="display: flex; justify-content:space-around; border: 1px solid black;width: 200px;height: 200px;">
      <p><%= element %> </p>
      </div>
  <% }) %>
  <%- include('partials/footer')  %> 
</body>
</html>