<%- include('partials/head') %> 
<body>
    <h1><%= titulo %> </h1>
    <p>La ruta '<%= laUrl %>' no existe</p>
    <p>Puede ir a nuestras paginas:</p>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/registro">Registro</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
   
</body>
</html>