<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
<h1>Pagina de inicio</h1>
<section>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsa praesentium nobis saepe, quas ipsam iste impedit excepturi obcaecati officia voluptatum officiis, blanditiis recusandae accusamus. Reiciendis quaerat inventore laboriosam eum.</p>
        <img src="/img/imagen1.jpg" alt="memeNum 1">
    </article>
</section>
<section>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsa praesentium nobis saepe, quas ipsam iste impedit excepturi obcaecati officia voluptatum officiis, blanditiis recusandae accusamus. Reiciendis quaerat inventore laboriosam eum.</p>
        <img src="/img/imagen2.jpg" alt="memeNum 2">
    </article>
</section>
<section>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsa praesentium nobis saepe, quas ipsam iste impedit excepturi obcaecati officia voluptatum officiis, blanditiis recusandae accusamus. Reiciendis quaerat inventore laboriosam eum.</p>
        <img src="/img/imagen3.jpg" alt="memeNum 3">
    </article>
</section>



    <%- include('partials/footer') %> 
</body>
</html>