<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <h2>Login</h2>
    <div>
        <form action="">
            <div class="loginNormal">
            <label for="">Email</label>
            <input type="email">
            <label for="">Contraseña</label>
            <input type="password">
            </div>
            <div class="loginGoogleOFacebook">
                <p>O inicia sesion en </p>
                <button>Google</button>
                <button>Facebook</button>
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </div>

    <%- include('partials/footer') %> 
</body>
</html>