<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <h1>Nosotros</h1>
    <section>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsa praesentium nobis saepe, quas ipsam iste impedit excepturi obcaecati officia voluptatum officiis, blanditiis recusandae accusamus. Reiciendis quaerat inventore laboriosam eum.</p>
            <img src="/img/imagen4.png" alt="memeNum 5">
        </article>
    </section>
    <section>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsa praesentium nobis saepe, quas ipsam iste impedit excepturi obcaecati officia voluptatum officiis, blanditiis recusandae accusamus. Reiciendis quaerat inventore laboriosam eum.</p>
            <img src="/img/imagen5.png" alt="memeNum 5">
        </article>
    </section>
    <section>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsa praesentium nobis saepe, quas ipsam iste impedit excepturi obcaecati officia voluptatum officiis, blanditiis recusandae accusamus. Reiciendis quaerat inventore laboriosam eum.</p>
            <img src="/img/imagen6.png" alt="memeNum 4">
            <img src="/img/imagen7.png" alt="memeNum 4">
        </article>
    </section>
  

    <%- include('partials/footer') %> 
</body>
</html>