<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
<h2>Registro</h2>
<div>
    <form action="">
        <label for="">Nombre</label>
        <input type="text">
        <label for="">Apellido</label>
        <input type="text">
        <label for="">fecha Nacimiento</label>
        <input type="date">
        <label for="">Email</label>
        <input type="email">
        <label for="">Contraseña</label>
        <input type="password">
        <label for="">Repita Contraseña</label>
        <input type="password">
        
        <button type="submit">Registrarme</button>
        <div class="loginGoogleOFacebook">
            <p>O registrate en </p>
            <button>Google</button>
            <button>Facebook</button>
        </div>
    </form>
</div>


    <%- include('partials/footer') %> 
</body>
</html>