</main>
<footer class="footer">
    <ul class="footerLista">
        <li class="cta">
            <a href="/">Volver a inicio</a>
        </li>
        <li class="cta">
            <a href="http://www.arbusta.net" target="_blank" rel="noopener noreferrer">Arbusta site</a>
        </li>
        <li class="cta">
            <a href="https://cat-bounce.com/" target="_blank">Privacidad</a>
        </li>
    </ul>

<h5><a href="https://ar.linkedin.com/in/maximilianoportelberaud?trk=people-guest_people_search-card" target="_blank" rel="noopener noreferrer">Creado por Maximiliano Portel</a></h5>
</footer>

</body>
</html>