<header class="containerHeader">

    <button data-text="Awesome" class="button">
        <span class="actual-text">&nbsp;<%=titulo%>&nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;<%=titulo%>&nbsp;</span>
    </button>


    <nav>
        <ul class="navBar">
            <li class="buttonNav">
                <span class="shadow"></span>
                <span class="edge"></span>
                <a class="front text" href="/">Inicio</a>
            </li>

            <li class="buttonNav">
                <span class="shadow"></span>
                <span class="edge"></span>
                <a class="front text" href="/heroes">Heroes</a>
            </li>

            <li class="buttonNav">
                <span class="shadow"></span>
                <span class="edge"></span>
                <a class="front text" href="/creditos">Creditos</a>
            </li>

        </ul>
    </nav>
</header>