

 <%- include("partials/head", {tituloWeb: "Index"}); %>
 

  <body>
      
    <%- include("partials/header", {tituloWeb: "header partial"}); %>
  


    <h1><%=h1%></h1>


    <%- include("partials/footer", {footerWeb: "Footer Web"}); %>
  </body>
</html>