<header>
    <h1>Página de Heroes</h1>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/heroes">Heroes</a></li>
        <li><a href="/creditos">Creditos</a></li>
    </ul>
</header>