

<%- include('partials/head'); %>



  <body>
    <h1><%= title %></h1>
    <%- include("partials/header",{tituloweb: "titulo header"}) %> 
    <%- include("partials/footer",{tituloweb: "titulo footer"} ) %> 
  </body>
</html>


