

<%- include('partials/head'); %>



  <body>
    <h1><%= title %></h1>
    <%- include("partials/header",{tituloweb: "Header"}) %> 
    <%- include("partials/footer",{tituloweb: "Footer"} ) %> 
  </body>
</html>


