<%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <main>
      <p>Página creada por el equipo de NODE Backyardigans</p>

    </main>
    <%- include('partials/footer'); %>
  </body>
</html>

