<%- include('partials/head') %>



  <body>
    <h1>
      <%= title %>
    </h1>

    <p>Bienvenidos a nuestra concesionaria ArbiAutos AA</p>
   
  
      <h2>Estas son nuestras sucursales:</h2>
      <% concesionarias.forEach(sucursal => { %>
        
     
        <ul>
          <li>
          <%- sucursal.sucursal%>
        </li>
        </ul>
   

    <%  }); %>
    </ul>

    <%- include('partials/footer') %>

   </body>

      </html>