<%- include('partials/head'); %>
<body>
    <%- include('partials/header', {titulo: "header partial"}); %>
    <h1>NOSOTROS </h1>
    <%=titulonosotros%> 
    <%- include("partials/footer", {titulo: "footer partial"}); %>
</html> 