<header>

  <h1><%= titulo %></h1>
  <nav>
    <ul>
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/nosotros">Nosotros</a>
      </li>

    </ul>
  </nav>
</header>
