<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Login 01</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

</head>

<body>
    <form id="formLogin" action="/tables" method="POST" class="form-box animated fadeInUp">
        <h1 class="form-title">SignIn</h1>
        <input type="text" placeholder="User" id="user" name ="user" autofocus>
        <input type="password" placeholder="Password" id="pass" name="pass">
        <button type="submit" >
            Login
        </button>
        
            <a  href="/register" type="button">Register</a>
      
    </form>
</body>

</html>

