
<%- include('partials/head',{titulo:"HOME | INDEX"}) %>

<body>
    <div class="contenedor">
        <menu>
                <h3>CATEGORÍAS</h3>
                <ul>
                    <li><a href="">Shorts</a></li>
                    <li><a href="">Camisas</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Jeans</a></li>
                </ul>

                <h3>COLECCIÓN</h3>
                <ul id="lista">
                    <li><a href="">CarryOver</a></li>
                    <li><a href="">Exclusive</a></li>
                    <li><a href="">Main collection</a></li>
                    <li><a href="">Spring/Summer 2022</a>
                </ul>

                <h3>COLORES</h3>
                <ul>
                    <li><a href="">Marrón</a></li>
                    <li><a href="">Azul</a></li>
                    <li><a href="">Negro</a></li>
                    <li><a href="">Amarillo</a></li>
                </ul>
        </menu>
        
        <main>
            <div>
                <h1 class="animate__animated animate__jackInTheBox">FLOW SHOP</h1>
            </div>

        <div class="cont-1">
            <div class="cajas">
                <h3>GORRAS</h3>
                <img src="https://cdn.shopify.com/s/files/1/1056/1394/products/43_PS22MAH026-424_TGCW_20TRUCKER_20HAT_P_20BLUE_PS22_0508_1_1000x.jpg?v=1639253662" alt="gorras amiri">
                <a href="">+ VER MÁS +</a>
            </div>
            <div class="cajas">
                <h3>BUZOS</h3>
                <img src="https://cdn.shopify.com/s/files/1/1056/1394/products/265_PS22MJG060-420_TGCW_20CRYSTAL_20KOI_20WAVE_20CREW_BLUE_PS22_0815_1000x.jpg?v=1645701725" alt="buzo amiri">
                <a href="">+ VER MÁS +</a>
            </div>
        </div>
        <div class="cont-2">
            <div class="cajas">
                <h3>CAMISETAS</h3>
                <img src="https://cdn.shopify.com/s/files/1/1056/1394/products/296_PS22MJT007-665_TIE_20DYE_20TEE_ORANGE_PS22_0264_1000x.jpg?v=1638424572" alt="Remeras amiri">
                <a href="">+ VER MÁS +</a>
            </div>
            <div class="cajas">
                <h3>CALZADO</h3>
                <img src="https://cdn.shopify.com/s/files/1/1056/1394/products/94_PS22MFS001-221_BONE_20RUNNER_BROWN_20MULTI_PS22_4316_1_1000x.jpg?v=1645375608" alt="calzado amiri">
                <a href="">+ VER MÁS +</a>
            </div>
        </div>
        </main>
        
        <aside>
            <div class="alineo-items-1">
                <div class="alineo-items-2">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/travis-scott-palm-angels-hoodie-1597314958.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="Travis Scott">
                
            </div>
                <h2>LA MODA EN LA ESCENA DEL TRAP</h2>
            </div>
        </aside>
    </div>

<%- include('partials/footer',{titulo: "Derechos reservados @ Flow shop 2022"}) %>

