<%- include('partials/head', {titulo: "HOME | NOSOTROS"}) %> 

<body>
    
    <h1>SOBRE NOSOTROS</h1>

    <section style="display: flex; justify-content: center; flex-direction: column; align-items: center; background-color: white; margin: 50px; padding: 10px;">
            <h3>¿Quienes somos?</h3>

            <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Somos la empresa líder en indumentaria urbana, elegimos por los artistas de la escena..</span>
        
        <div style="display: flex; flex-direction: row; align-items: space-between; flex-wrap: wrap; margin-top: 25px; margin-bottom: 30px;">
            <img src="https://i.pinimg.com/originals/04/33/05/043305ce4284531c06652c2eb3b25a82.jpg" alt="Ropa mujer" height="350px" width="300px" style="margin-right: 50px">

            <img src="https://i.pinimg.com/736x/67/10/9e/67109ef49ef99f4a150ed52b37c3ae9b.jpg" alt="Ropa hombre" height="350px" width="300px" style="margin-left: 50px">
        </div>
    </section>

<%- include('partials/footer',{titulo: "Derechos reservados @ Flow shop 2022"}) %>
