<header>
    <nav>
        <img src="./img/logokatech.png" style="width: 200px" alt="logotipo de katech">
        <h1><%=titulo%></h1>
        <div class="buscador">
            <form>
                <input type="search" name="buscadorheader" id="buscadorheader">
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div class="links">
            <ul>
                <li><a href="./nosotros">Nosotros</a></li>
                <li><a href="./">Pagina Principal</a></li>
            </ul>
        </div>
    </nav>
</header>