<%- include('partials/head')  %> 
<body>
  <%- include('partials/header')  %> 
  <h1>Bienvenido a la pagina de backyardigans</h1>
  <a href="/personajes">Ir a los personajes</a>
  <%- include('partials/footer')  %> 
</body>
</html>