<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title>Login con Node + JWT + MySQL</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>


    <form action="/editUser/<%= user.id %>?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre completo</label>
            <input id="name" name="name" type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="user" class="form-label">Cuenta de usuario</label>
            <input id="user" name="user" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="avatar" class="form-label">Avatar</label>
            <input id="avatar" name="avatar" type="file" class="form-control">
        </div>

        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input id="pass" name="pass" type="password" class="form-control">
        </div>

        <div class="mb-3">
            <label for="pass2" class="form-label">Confirmar Password</label>
            <input id="pass2" name="pass2" type="password" class="form-control">
        </div>

        </div>
        <div class="card-footer bg-transparent border-primary">
            <a href="/" type="button" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>

    </form>

</body>

</html>