<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="localhost:3000/users/pepe" target="_blank"><%= usuarios[1] %></a></h1>
    <h2>clickea en pepe</h2>
  </body>
</html>