<footer>
    <div class="bloque-1">
        <img src="/IMG/—Pngtree—flow shop logo designs water_5301615.png" alt="Logo flow shop" class="logo">

        <h3><%=titulo%></h3>
    </div>

    <div class="bloque-2">
        <h4>Otros enlaces</h4>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Quienes somos</a></li>
            <li><a href="/xd">Sucursales</a></li>
        </ul>
    </div>
    
    <div class="bloque-3">
        <h4>Nuestras redes sociales</h4>
    <div id="bloque-3-1">
        <div id="instagram"><img src="/IMG/logotipo-de-instagram.png" alt="Instagram" id="ig-logo"></div>
        <div id="facebook"><img src="/IMG/facebook.png" alt="Facebook" id="face-logo"></div>
        <div id="twitter"><img src="/IMG/gorjeo.png" alt="Twitter" id="twit-logo"></div>
    </div>
    </div>
</footer>
</body>
</html>