<header class="header">
    <nav>
        <ul>
            <li><a href="/"">Inicio</a></li>
            <li><a href="/personajes">Personajes</a></li>
            <li><a href="#">Capítulos</a></li>
            <li><a href="#">Peliculas</a></li>
        </ul>
    </nav>
</header>