<header>
    <nav>
        <div>
            <a href="/"><img src="/images/logo5.webp" alt="logo" class="logo"></a>
            
        </div>
        <input type="checkbox" name="" id="check">
        <label for="check" class="bar-btn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul class="nav-menu">
            <li>
                <a href="/" class="active">Home</a> 
            </li>
            <li>
              <a href="#">Heroes</a>  
            </li>
            <li>
              <a href="#">Portfolio</a>  
            </li>
            <li>
                <a href="#">
                    Contacto
                </a>
            </li>
        </ul>
    </nav>
</header>