<%- include('partials/head',{tituloindex:'INDEX'}); %>
<body>
    <%- include('partials/header',{tituloindex:'header web'}); %> 
    
    <h1>Bienvenidos a nuestro inicio <i class="fa-solid fa-house-chimney-crack"></i></h1>

    <a href="http://localhost:3000/nosotros">Sobre nosotros</a>

    <%- include('partials/footer',{tituloindex:'footer web'}); %> 
</body>
</html>