
  <%- include('partials/head', {tituloweb: 'Head personajes'}); %>
  <body>

    <%- include('partials/header', {tituloweb: 'Header personajes'}); %>

    <h1>Bienvenidos a <%= title %></h1>

    <section>
      <img src="https://imagenes.atresplayer.com/atp/clipping/cmsimages02/2021/03/10/D2269CAE-4705-4D3A-BC8D-0E66AD9A53B3/1280x720.jpg" width="700px" alt="losBackyardigans">
    </section>


    <%- include('partials/footer', {tituloweb: 'Footer personajes'}); %>

  </body>
</html>
