    <!-- Contenido principal   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Dashboard</h2>
          <h2>Bienvenido:
            <% if (user) { %>
              <span class="badge bg-success"><img src="img/tmp/my-uploads/<%=user.avatar%>" alt="avatar" height="50px"></span>
            <% } %>
          </h2>
        </div> 
      </main>