<header>
    <nav>
        <div class="navbar">
            <div class="laSeccion"><a href="/">Main</a></div>
            <div class="laSeccion"><a href="/heroes">Heroes</a></div>
            <div class="laSeccion"><a href="/creditos">Creditos</a></div>
        </div>
    </nav>
    
</header>