<header>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/registro">Registro</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</header>