        <footer>
            <div class="box">
                <span>Enlaces</span>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/sucursales">Sucursales</a></li>
                    <li><a href="/marcas">Marcas</a></li>
                    <li><a href="/autos">Autos</a></li>
                </ul>
            </div>
            <hr>
            <div class="box">
                <span>Concesionaria del futuro</span>
            </div>
            <hr>
            <div class="box">
                <img src="https://press.ktm.com/Content/101719/e97d40bd-83be-4b2e-b39d-0d87a548da7e/1200/2400/.jpg" alt="logotipo Concesionaria">
            </div>
        </footer>
    </body>
</html>