<%- include('partials/head',{titulo}) %>

    <body>
        <%- include('partials/header',{titulo:"headerPartials ejs"}) %>
            <h1>
                <%= h1 %>
            </h1>
            <%- include('partials/footer',{titulo:"footerPartials ejs"}) %>
    </body>

    </html>