<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=titulo%></title>
</head>
<body>

  <section>
    <h2><%=h2%></h2>
    <p>Puedes solicitar en estas secciones:</p>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/categorias">Categorias</a></li>
        <li><a href="/cocina">Cocina</a></li>
      </ul>
</section>

  
</body>
</html>

