<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%=tituloindex%></title>
</head>
<body>
    <!-- Aquí iría el header y nav -->
    <%- include('partials/header', {tituloweb: 'Super Bazar'}); %>
      <section>
        
        <h3><%=h3%>​</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
           Possimus deleniti itaque rem provident beatae aliquid vitae distinctio totam sed? Distinctio, facere voluptatum iusto quisquam deleniti vitae officia veritatis saepe porro!</p>
      </section>

      <section>
        <img src="https://setabazar.com.ar/wp-content/uploads/2022/03/Seta-Bazar-07-1024x684.jpg" width="500px "alt="bazarfoto">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus inventore repudiandae, illo ea molestiae.</p><br>
      </section>

      <section>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo doloribus nam fuga odit itaque sapiente omnis repellendus, soluta deleniti obcaecati eius reiciendis, exercitationem dolorem commodi sint maxime hic aliquid architecto! <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odio perspiciatis necessitatibus eligendi. Dolore error tenetur, sed amet dolor quae odit libero, optio magni reprehenderit nesciunt quo! Odio, harum illum.
        </p>
      </section>

      <section>
        <img src="https://www.arqhys.com/wp-content/fotos/2014/03/Accesorios-cocina-620x369.jpg" width="600px" alt="accesoriosDeCocina">

        <img src="https://ss-static-01.esmsv.com/id/64900/galeriaimagenes/obtenerimagen/?id=509&tipoEscala=stretch&width=977&height=550" width="600px"  alt="local">

        <img src="https://imagenes.elpais.com/resizer/l_NZGiKNSJsUMx7qOAFSbzUFVts=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/2N6NNAJ2JBGBDC2KPGZLDIREKE.jpg" width="600px"  alt="macetas">
      </section>
     
      <section>

        <h3>Música de ambiente</h3>

        <iframe loop width="100%" height="166" scrolling="si" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/339979465&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/1207domo" title="domo" target="_blank" style="color: #cccccc; text-decoration: none;">domo</a> · <a href="https://soundcloud.com/1207domo/cafe" title="Café" target="_blank" style="color: #cccccc; text-decoration: none;">Café</a></div>
      </section>
    

    <%- include('partials/footer', {tituloweb: 'Footer partial'}); %>
</body>

</html>