<footer>
    <h2>Concesionarias Arbusta! Nuestras redes:</h2>
    <div class="redes">
        <ul>
            <li><a href="https://www.instagram.com/arbustait/" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/arbustait/" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/arbustaIT" target="_blank">Twitter</a></li>
        </ul>
    </div>
</footer>