<header>
    <img src="/images/logo.png" style="width:100px" alt="logo">
    <h1>Concesionarias Arbusta</h1>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/sucursales">Sucursales</a></li>
        <li><a href="/autos">Autos</a></li>
        <li><a href="/marcas">Marcas</a></li>
    </ul>
</header>