<%- include('partials/head') %> 
  <body>
    <h1><%= title %></h1>
    <p>Welcome</p>
    <ol>
      <li><a href="/users/Juan0810"> Usuario: Juan0810 </a></li>
      <li><a href="/users/PepeArgent0"> Usuario: PepeArgent0 </a></li>
      <li><a href="/users/Usuario123"> Usuario: Usuario123 </a></li>
      <li><a href="/users/unkown"> Usuario: Desconocido </a></li>
    </ol>
  </body>
</html>
