<%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <main>
      <p>Aca vas a encontrar toda la informacion sobre la serie favorita del profesor Gabi!</p>
    <h3><a href="/personajes">Clickea aca para ir a ver los personajes!</a></h3>
    
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
