
  <body>
    <h1>
      <%= tituloweb %>
  </h1>

  <div>
      <% json.forEach(element=> { %>
          <h2><%= element.nombre %></h2>
          <a href="/heroes/<%=element.id%>/ok">Bio</a>
          <% }) %>
              

  </div>
  
  </body>
</html>
