<%- include("partials/head")  %> 
<%- include("partials/header",{tituloweb: "titulo header"})  %> 
<h1>"Ni Superman, Ni la mujer maravilla son tan increibles como las personas de carne y hueso de nuestra web "</h1>
<%- include("partials/footer",{tituloweb: "titulo footer"})  %> 