<!-- <h1><%#= message %></h1>
<h2><%#= error.status %></h2>
<pre><%#= error.stack %></pre> -->


<%- include('./partials/head-header') %>

<div id='oopss'>
  <div id='error-text'>
    <span>404</span>
    <p>PAGE NOT FOUND</p>
    <p class='hmpg'><a href='#' class="back">Back To Home</a></p>
  </div>
</div>

<%- include('./partials/footer') %>