<center><h1><%= titulo %></h1></center>

<fieldset>
<p>Registrate</p>
<label for="mail">Ingresá tu mail<input type="mail"></label>
<label for="password">Ingresá tu contraseña<input type="password"></label>
<input type="submit" value="Ingresar">
</fieldset>






