<footer>
    <h2>Backyardigans Arbusta! Nuestras redes:</h2>
    <div class="redes">
        <ul>
            <li><a href="https://www.instagram.com/katech.ar/" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/KatechHardwareStore/" target="_blank">Facebook</a></li>
            <li><a href="https://www.tiktok.com/@katech.ar" target="_blank">TikTok</a></li>
        </ul>
    </div>
</footer>