<header>
    <img src="/images/logo.png" style="width:100px" alt="logo">
    <h1>Página de Backyardigans</h1>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/personajes">Personajes</a></li>
    </ul>
</header>