<html>
  
  <%- include ('partials/head', {tituloweb: 'headPartial'}); %>

  <%- include ('partials/header', {tituloweb: 'header partial'}); %> <!-- toma un archivo partial de otra carpeta para unir diferentes partes de una vista -->
  <body>
    <h1>Hola a EJS <%= titulo %></h1>
  </body>
  <%- include ('partials/footer', {tituloprincipal: 'footer', telefono: '1155117485', contacto: 'blablabla', red1: 'facebook', red2: 'instagram', red3: 'twitter'}); %>
</html>