<%- include('partials/head'); %>
    <!-- partial head -->

    <%- include('partials/header'); %>
        <!-- partial header -->

        <article>
            <div class="containerHeroes">
                <div class="cardHeroes cardHeroes0">
                    <div class="border">
                        <h2 class="tituloHeroesh2">Ada Lovelace</h2>
                    </div>
                </div>
                <div class="cardHeroes cardHeroes1">
                    <div class="border">
                        <h2 class="tituloHeroesh2">Charles Babbage</h2>
                    </div>
                </div>
                <div class="cardHeroes cardHeroes2">
                    <div class="border">
                        <h2 class="tituloHeroesh2">Margaret Hamilton</h2>
                    </div>
                </div>
            </div>
        </article>


        <%- include('partials/footer'); %>
            <!-- partial footer -->