<%- include('partials/head'); %> <!-- partial head -->
<%- include('partials/header'); %><!-- partial header -->

<body>
<main class="container">
    <article class="contenedorArticulo">
        <h2 class="tituloMain"> Ni superman, ni la mujer maravilla son tan increíbles como las personas de carne y hueso de nuestra web</h2>
    </article>


    

<%- include('partials/footer'); %> <!-- partial footer -->