




  <body>
    <center>
    <% title %>
    <%- include("partials/header", {title:"nuestro home"}); %>
    <img src="img/heroes.jpg">
    </center>
    
   
    <%- include("partials/footer", {title:"Footer de página Index"}); %>
  </body>
 
</html>
