<!DOCTYPE html>
<html lang="en">
<% include ('partials/head') %> 
<body>
    <% include ('partials/header',{titulo: 'header'}) %> 
    <main>
        <h1>
            <%= tituloPrincipal %> 
        </h1>
        <img src="/images/bts.jpg" alt="">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis earum blanditiis quo? Dignissimos nihil temporibus recusandae saepe facere libero ratione, voluptatem sed quam cupiditate excepturi, quo laborum in non animi. Quia rerum magni exercitationem distinctio est mollitia adipisci ex! Reiciendis animi voluptates facilis tenetur voluptatum aliquam, totam ad voluptatem nam reprehenderit quo dolorem delectus, doloribus, praesentium facere? Omnis, recusandae deleniti! Esse magni sequi repudiandae, consectetur porro facilis nulla, eligendi doloremque id voluptatem aliquid vero corrupti! Saepe vitae labore nemo aliquam eos quidem quo sequi suscipit rem delectus hic unde, soluta repudiandae magnam provident facilis ipsam! Deleniti enim iusto numquam atque.
        </p>
    </main>
    <% include ('partials/footer', {mensaje: 'light flame'}) %> 
</body>
</html>