<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nombre %> </title>
</head>
<body>
    <h1>
        <%= nombre  %> 
    </h1>
    <h4>
        <%= bio %> 
    </h4>
    <div>
        <% if (allow == true) { %>
         <img src="/images/uniqua3.jpg" alt="">
        <% } %>
        
        
        
    </div>
</body>
</html>