<%- include("partials/head", {title: "Backyardigans" }); %>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p> En esta página van a poder ver todos nuestros personajes:</p>
    <img src="images/backy.jpg">
     
    <%- include("partials/footer") %>
  </body>

  </html>