<%- include("partials/head", {title: "Errorid" }); %>
<body>
<h1>Error su personaje no existe</h1>
<a href="https://i.pinimg.com/736x/8d/0e/19/8d0e19476f15cedbee6f9f83bacde37c.jpg">un link porque no me funcionó la imagen</a>
<img src="../public/images/meme.jpg">
</body>