body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blueviolet;
  height: 50%;
  widows: 50%;
}

a {
  color: #00B7FF;
}


.imag {
  width: 30%;
  height: 400px;
}