
    <footer class="footer">
          
        <section>
            <img src="/images/LogoARB_PNG.png" alt="logo-arbusta">
        </section>
        <section id="seguinos">
            <h4> Seguinos</h4>
            <div class="redesca">
                <a href="https://www.instagram.com/arbustait/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/arbustait/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/arbustaIT"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/arbusta/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </section>
      <section>
        <img src="/images/logo5.webp" alt="logo">
      </section>
      
      
      </footer>
