<main class="form-signin text-center shadow-lg p-3 mb-5">

    <form id="formLogin" action="/login" method="POST">
      <img class="mb-4" src="img/bootstrap-logo.svg" alt="" width="72" height="57">
      <div class="form-floating">
        <input type="text" class="form-control" id="user" name="user" placeholder="User" value="<%= locals.old && old.user ? old.user : null %>">
        <label for="user">User</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" value="<%= locals.old && old.user ? old.user : null %>">
        <label for="pass">Password</label>
        <% if (locals.errors && errors ) { %>
          <span class="text-danger"><%= errors.pass.msg %></span>
         <% } %>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>    
    </form>
  
    <br>
    <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary">Registrarse</a>
  </main>
  
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    