<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/contact.css">
    <title>Document</title>
</head>
<body>
    <%- include ("partials/header", {mensaje:"Bienvenidos"})%>

    <h1>Los favoritos de los clientes</h1>

    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/9a/61/8b/desayunos-con-cafe-y.jpg" alt="">
   <br>
     <span class="texto">El desayuno es la primera comida del día, y suele comerse a primera hora de la mañana, antes de ir a trabajar.</span>

    <%- include ("partials/footer")%>
</body>
</html>