<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El club de los desayunos</title>
</head>
<body>
    <%- include ("partials/header", {mensaje:"Bienvenidos"})%>
    <h1> <%=mensaje %> </h1>
     <p>Aunque el desayuno suele identificarse como la comida más importante del día, no hay nada mágico o misterioso sobre su papel en una dieta saludable. No necesariamente aumentará tu metabolismo, pero las personas que desayunan de forma equilibrada tienden a tener un índice de masa corporal (IMC) en un rango saludable, en comparación con los que no desayunan.
<br>
        Nada de esto prueba que el desayuno cause pérdida de peso, pero es un hábito típico de las personas sin sobrepeso. <br> Muchas personas se saltan el desayuno para ahorrar calorías, pero eso puede ser contraproducente de dos maneras: o estás hambriento a media mañana, cuando hay menos bocadillos saludables y procesados ​​con mayor disponibilidad, o te ingieres más comida porque sientes como si te la hubieras ganado. Comenzar la mañana con opciones de alimentos saludables puede prepararte para seguir consumiendo de manera saludable el resto del día.
        
         </p>
    <!-- <img src="/image/desayuno2.jpg" alt="desayunosaludable1"> no me toma la ruta de la carpeta public --> 
    <img src="https://i0.wp.com/www.qmayor.com/wp-content/uploads/2020/05/desayuno-saludable.jpg?fit=907%2C600&ssl=1" alt="">
  <br><br><br>
    <%- include ("partials/footer")%>
</body>
</html>