<footer>
     
    <h3>Nuestras redes:</h3>
 <ul>
    <li><a href="http://">Instagram</a></li>
    <li><a href="http://">Facebook</a></li>
    <li><a href="http://">Twitter</a></li>
 </ul>

 <h3>Nuestra ubicación</h3>
 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13134.380721849906!2d-58.517922!3d-34.6143968!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x626e0cf9e7ef0c88!2sBazar%20Shop%20Pick%20Up%20Point!5e0!3m2!1ses!2sar!4v1657303770514!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

 <a name="contacto">

</footer>