<header>
    <nav>
      <h3>Menu</h3>
      <ul>
        <li><a href="/categorias">Categorias</a></li>
        <li><a href="/cocina">Cocina</a></li>
        <li><a href="#">Contactanos</a></li>
      </ul>
    </nav>

    <img src="http://d3ugyf2ht6aenh.cloudfront.net/stores/001/425/620/themes/common/logo-1408604229-1605716747-885ff1500e89d8b842303ac3c46d734a1605716747.png?0" width="1000px" alt="bazarShop">
</header>