<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/sucursales">Sucursales</a></li>
        <li><a href="/marcas">Marcas</a></li>
        <li><a href="/autos">Autos</a></li>
    </ul>
</nav>